---
nav_active: "calendar"
title: guest calendar
calendar:
  jul26:
  jul27:
  jul28:
    other: "friend ranch 2015 opening day"
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, catie"
  jul29:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, catie, brendan, jinjin, alexis"
  jul30:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, catie, brendan, jinjin, alexis"
  jul31:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, catie, brendan, jinjin, alexis"
  aug1:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, catie, maggie, matt, brendan, jinjin, alexis"
  aug2:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, ellen, gabriel, brendan, jinjin"
  aug3:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, mary, ellen, gabriel, brendan, jinjin"
  aug4:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, mary, ellen, gabriel, brendan, jinjin"
  aug5:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, mary, ellen, gabriel, brendan, jinjin"
  aug6:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, mary, ellen, gabriel, brendan, jinjin"
  aug7:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, mary, ellen, gabriel"
  aug8:
    available: "sorry pardner, the ranch has done commenced"
    staying: "los guests: worace, maggie, matt, mary, ellen, gabriel"
  aug9:
    other: "checkout day...everybody must leave :("
  aug10:
  aug11:
  aug12:
  aug13:
  aug14:
  aug15:
---

<div class="row">
  <h1>Who's staying and when</h1>
</div>

<%# Sun, July 26 - Sat Aug 15; 3 weeks of 7 nights / piece %>
<% days = (26..31).map { |i| "Jul #{i}" } + (1..15).map { |i| "Aug #{i}" } %>
<% dotw = "smtwtfs".chars %>
<div class="calendar">
<% days.each_slice(7).each do |week| %>
  <div class="row">
    <ul class="week">
      <% week.each_with_index do |day, i| %>
        <% slimday = day.split.join.downcase %>
        <% if current_page.data.calendar[slimday] %>
          <li class="day active column2">
            <p class="head"><b><%= day %></b> (<%= dotw[i] %>)</p>
            <div class="events">
                <% current_page.data.calendar[slimday].each do |type, event| %>
                  <p class="events-<%=type%>"><%= event %></p>
                <% end %>
            </div>
          </li>
        <% else %>
          <li class="day inactive column2">
            <p class="head"><b><%= day %></b></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
</div><!-- .welcome -->
